<h6 id="titre1">Configuration</h6>
<h2 id="titre"><b>Emtreprise</b></h2>
<div class="clr-row" id="baniere">

  <div class="clr-col-9"></div>
</div>
<br />


<!-- <div class="clr-row">
  <div class="clr-col-10">
    <label>
      Nom de l'Emtreprise
      <span class="requi">(*)</span>
    </label>
    <input
      class="form-control form-control-sm"
      type="text"
      formControlName="label"
      value="HOST LIKSOFT"
    />
  </div>
  <div class="clr-col-2">
    <button type="button" class="btn btn-primary">Modifier</button>
  </div>
  
</div><br> -->



<div class="clr-row">
  <div class="clr-col">
    <div class="clr-row">
      <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
        <div class="card">
          <div class="card-header">AGENCES</div>
          <!-- <div class="card-block">
            <div class="card-text">
              Groupe de materiels identiques
            </div>
          </div> -->
          <div class="card-footer">
            <a routerLink="/app/agencies">
              <button type="button" class="btn btn-icon" aria-label="home">
                <clr-icon shape="folder-open"></clr-icon>
                PARCOURIR
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col">
    <div class="clr-row">
      <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
        <div class="card">
          <div class="card-header">LOCALS</div>
          <!-- <div class="card-block">
            <div class="card-text">Categories de materiels</div>
          </div> -->
          <div class="card-footer">
            <a routerLink="/app/locals">
              <button type="button" class="btn btn-icon" aria-label="home">
                <clr-icon shape="folder-open"></clr-icon>
                PARCOURIR
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col">
    <div class="clr-row">
      <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
        <div class="card">
          <div class="card-header">ADRESSES MATERIELS</div>
          <!-- <div class="card-block">
            <div class="card-text">Emplacemens des materiels</div>
          </div> -->
          <div class="card-footer">
            <a routerLink="/app/materialLocation">
              <button type="button" class="btn btn-icon" aria-label="home">
                <clr-icon shape="folder-open"></clr-icon>
                PARCOURIR
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



