/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

#baniere{
  background-color: #EFF4F8;
}

#titre{
  color: #17507e;
  font-size: 250%;
}

#sd{
  background-color: #1b4f72
}

#titre1{
  color: #aec0cf
}

.requi{
  color: red
}

.sib_items{
  font-weight:bold;
  font-size: 120%;
}

.sib_item{
  font-size: 130%;
}



#home{
  padding-top:20px;
  padding-right:20px;
  padding-left:40px;
}

#header{
  background-color:    #1b4f72
  ;
}

#bord{
  color: white;
  font-weight:bold;
  font-size: 50;
}

#app{
  color: white;
  font-weight:bold;
  font-size: 150%;
}


